include ../_mixins/_all

block vars
  -title        = ''
  -description  = ''
  -keywords     = ''
  -path         = ''

doctype html
html(lang="en")
  include ../_parts/_head
  body
    .body-container
      include ../_parts/_header
      main.main-container.py-4
        block container
      include ../_parts/_footer
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.bundle.min.js")
    script(src=path+"/scripts/scripts.js")