@charset 'utf-8'

// @use './_settings/colors' as colors

@import './_settings/settings'
  
*:not(.dropdown-menu > li)
  > *:last-child
    margin-bottom: 0

body
  font:
    family: $base-font-family
  padding: 0
  margin: 0

bold
  font-weight: 700

.body-container
  display: flex
  flex-direction: column
  min-height: 100vh

.main-container
  flex-grow: 1

.ck-content, .ck-editor__editable
  min-height: 400px

.trans
  transition: opacity .3s ease
  &:hover
    opacity: .6

@import '_parts/header'
@import '_parts/footer'
@import '_parts/navbar'
@import '_parts/sidebar'

@import '_forms/common'
@import '_forms/register'

@import '_components/heading'
@import '_components/btn'
@import '_components/card'
@import '_components/section'
@import '_components/post'
@import '_components/table'
@import '_components/widget'

@import '_dashboard/dashboard'
