footer.footer-container.bg-dark.text-white
  .container
    .row.justify-content-between.align-items-center
      .col-auto
        ul.nav
          li.nav-item
            a.nav-link(href=path+'/about') About
          li.nav-item
            a.nav-link(href="#") Link
          li.nav-item
            a.nav-link(href="#") Link
      .col-auto
        .text-end
          small.copyright copyright &copy; 2021 by me 