extends _layouts/default

block vars
  -title        = 'About page'
  -description  = ''
  -keywords     = ''
  -pageID       = 'about'
  -path         = '.'

block container

  // ./ Index
  section.section-wrapper
    .container
      .section-header
        h2.heading-primary Page about
