extends _layouts/default

block vars
  -title        = 'Author page'
  -description  = ''
  -keywords     = ''
  -pageID       = 'author'
  -path         = '..'

block container

  // ./ Index
  section.section-wrapper
    .container
      .section-header
        h2.heading-primary Page Author
      .section-content
        p Coming soon
