extends _layouts/default

block vars
  -title        = data.title  + ' | Nodejs - Blog'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '..'

block container

  // ./ Index
  section.section-wrapper
    .container
      h2.heading-primary
        if (data && data.title)
          | Bài viết thuộc chủ đề:
          | &nbsp;
          strong.text-uppercase #{data.title}
        else
          | Post
      .row
        if (data && data.posts)
          each post in data.posts
            .col.col-md-3.mb-4(data-col=post.id)
              +card_blog(post)
        else
          .col-12
            +post_empty()
      
