@charset 'utf-8'

.navbar
  background-color: #e2e8f0
  &-nav
    margin: 
      left: -.5rem
      right: -.5rem

  &-brand
    color: currentColor
    span
      display: inline-block
      line-height: 1

.nav
  
  &-link
    text-transform: uppercase
    font-weight: 500
    color: currentColor
    &.active
      color: $color_red !important
      