extends ../../_layouts/dashboard

block vars
  -title        = 'Admin page | Drafts'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '../..'

block container

  // ./ Index
  section.section-wrapper
    .container
      .section-header
        h2.heading-primary Thùng rác (Post)
      .section-content
        if !data.drafts
          .alert.alert-warning(role="alert")
            p.text-center.heading-3 
              | Ops!!! Không có post nào để hiển thị.
              | &nbsp;
              a(href="#") Thêm post mới
        else
          table.table
            thead
              tr.text-uppercase
                th(scope="col" width="40")
                th.text-center(scope="col" width="50") #
                th(scope="col") Tiêu đề
                th(scope="col") Thể loại
                th(scope="col" width="110")
            tbody
              each draft in data.drafts
                tr
                  td
                    .form-check
                      input.form-check-input(type='checkbox' id="post"+draft.id)
                  td.text-center= draft.id
                  td
                    a.link(href=path+'/admin/post/edit/'+draft.id)= draft.title
                  td.text-uppercase= draft.category.name
                  td
                    .row.justify-content-end.align-items-center
                      .col-auto
                        a.text-warning(href='#' class="js-post-untrash" data-trash='0' data-id= draft.id) 
                          i.fas.fa-trash-restore
                          | &nbsp;
                          | Phục hồi

