extends ../_layouts/dashboard

block vars
  -title        = 'Admin page'
  -description  = ''
  -keywords     = ''
  -pageID       = 'top'
  -path         = '..'

block container

  // ./ Index
  section.section-wrapper
    .container
      .section-header
        h2.heading-primary Page admin - index
      .section-content 
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam eveniet quas suscipit iste commodi dolorum accusantium assumenda animi fugit incidunt asperiores, molestias voluptatibus amet, deleniti unde voluptatum voluptas obcaecati in.
